In [1]:
from dysh.fits.gbtfitsload import GBTFITSLoad

In [1]:
import dysh

ModuleNotFoundError: No module named 'dysh'

In [27]:
sdf = GBTFITSLoad('testdata/TGBT21A_501_11/TGBT21A_501_11.raw.vegas.fits')

sdf = GBTFITSLoad('testdata/AGBT05B_047_01/AGBT05B_047_01.raw.acs')
sdf = GBTFITSLoad('testdata/TGBT21A_501_11/TGBT21A_501_11_scan_152_ifnum_0_plnum_0.fits')

In [42]:
sdf = GBTFITSLoad('testdata/AGBT05B_047_01/AGBT05B_047_01.raw.acs')

In [2]:
sdf = GBTFITSLoad('/home/sdfits/TRCO_231002_L/TRCO_231002_L.raw.vegas')

In [3]:
sdf.summary()

,SCAN,OBJECT,VELOCITY,PROC,PROCSEQN,RESTFREQ,DOPFREQ,# IF,# POL,# INT,# FEED,AZIMUTH,ELEVATIO
0,11,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,268.938076,55.806133
1,12,3C286,0.0,OffOn,2,1.44,1.44,1,2,12,1,270.600316,53.722005
2,13,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,269.417689,55.217254
3,14,3C286,0.0,OffOn,2,1.44,1.44,1,2,12,1,271.056282,53.133075
4,15,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,269.890354,54.628299
5,16,3C286,0.0,OffOn,2,1.44,1.44,1,2,12,1,271.506448,52.544263
6,17,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,270.356082,54.039627
7,18,3C286,0.0,OffOn,2,1.44,1.44,1,2,12,1,271.950766,51.955975
8,19,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,270.81533,53.450981
9,20,3C286,0.0,OffOn,2,1.44,1.44,1,2,12,1,272.390271,51.367596
10,21,3C286,0.0,OffOn,1,1.44,1.44,1,2,12,1,271.271009,52.859014
11,22,3C286,0.0,OffOn,2,1.44,1.44,1,2,7,1,272.796797,50.817124

In [4]:
ps = sdf.getps(scan=[11,13,15])

In [7]:
ps.nrows

AttributeError: 'ScanBlock' object has no attribute 'nrows'

In [11]:
ps[3].scan

IndexError: list index out of range

In [13]:
len(ps[0])

48

In [38]:
sdf.velocity_convention('OPTI-HEL') == 'optical'

True

In [39]:
sdf.velocity_frame('RADI-HEL') == 'heliocentric'

True

In [32]:
sdf.select('intnum'==[50:70])

SyntaxError: invalid syntax (1570717753.py, line 1)

In [30]:
len(sdf.index(bintable=0))

302

In [26]:
sdf.summary().shape

(8, 13)

In [5]:
sdf.index(bintable=0)

,OBJECT,BANDWID,DATE-OBS,DURATION,EXPOSURE,TSYS,TDIM7,TUNIT7,CTYPE1,CRVAL1,...,FDNUM,INT,NSAVE,HDU,BINTABLE,ROW,FITSINDEX,PROC,_OBSTYPE,_SUBOBSMODE
0,NGC2415,23437500.0,2021-02-10T07:38:37.50,0.998245,0.975875,17.458052,"(32768,1,1,1)",Counts,FREQ-OBS,1.402545e+09,...,0,0,-1,1,0,0,0.0,OnOff,PSWITCHON,TPWCAL
1,NGC2415,23437500.0,2021-02-10T07:38:37.50,0.998245,0.975875,17.458052,"(32768,1,1,1)",Counts,FREQ-OBS,1.402545e+09,...,0,0,-1,1,0,1,0.0,OnOff,PSWITCHON,TPWCAL
2,NGC2415,23437500.0,2021-02-10T07:43:51.50,0.998245,0.975875,17.240004,"(32768,1,1,1)",Counts,FREQ-OBS,1.402546e+09,...,0,0,-1,1,0,2,0.0,OnOff,PSWITCHOFF,TPWCAL
3,NGC2415,23437500.0,2021-02-10T07:43:51.50,0.998245,0.975875,17.240004,"(32768,1,1,1)",Counts,FREQ-OBS,1.402546e+09,...,0,0,-1,1,0,3,0.0,OnOff,PSWITCHOFF,TPWCAL

In [14]:
(sdf.summary(verbose=True)).shape == (4,17)

True

In [8]:
sdf.summary(verbose=True)

,SCAN,OBJECT,VELOCITY,PROC,PROCSEQN,PROCSIZE,RESTFREQ,DOPFREQ,IFNUM,FEED,AZIMUTH,ELEVATIO,FDNUM,PLNUM,SIG,CAL,DATE-OBS
0,152,NGC2415,3784.0,OnOff,1,2,1.420406,1.420406,0,1,285.951496,42.100624,0,0,T,T,2021-02-10T07:38:37.50
1,152,NGC2415,3784.0,OnOff,1,2,1.420406,1.420406,0,1,285.951496,42.100624,0,0,T,F,2021-02-10T07:38:37.50
2,153,NGC2415,3784.0,OnOff,2,2,1.420406,1.420406,0,1,286.622527,41.584692,0,0,T,T,2021-02-10T07:43:51.50
3,153,NGC2415,3784.0,OnOff,2,2,1.420406,1.420406,0,1,286.622527,41.584692,0,0,T,F,2021-02-10T07:43:51.50

In [12]:
type(sdf.summary())

pandas.core.frame.DataFrame

In [13]:
sdf.summary(show_index=False)

 SCAN  OBJECT VELOCITY  PROC  PROCSEQN  RESTFREQ   DOPFREQ # IF # POL # INT # FEED     AZIMUTH   ELEVATIO
  152 NGC2415   3784.0 OnOff         1  1.420406  1.420406    1     1     1      1  285.951496  42.100624
  153 NGC2415   3784.0 OnOff         2  1.420406  1.420406    1     1     1      1  286.622527  41.584692